

# gqlgen specific
graph/generated/*.go
graph/*.resolvers.go

# weja specific
# .fd.*
# .run
.secrets
.env
.dist
.ARCHIVE
.SAVE
**/.secrets
**/*.SAVE

# Go specific
pkg
vendor

# Docker specific
# Dockerfile
# docker-compose.yml
# .dockerignore

# misc
.gitignore
.git
.idea
**/*.md
**/.DS_Store
