

# gqlgen specific
graph/generated
graph/schema.resolvers.go

# weja specific
#.fd.*
.secrets
.env
.dist
.run
.ARCHIVE
.SAVE
**/.secrets
**/*.SAVE

# Go specific
pkg
vendor

# Docker specific
# Dockerfile
# docker-compose.yml
# .dockerignore

# misc
.gitignore
.git
.idea
**/*.md
**/.DS_Store
